*{
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
}

:root{
    --cell-width: 2.1vw;
    --cell-fontSize: 2rem;
}

body{
    display: flex;
    justify-content: center;
    background-color: cadetblue;
}

body>div:first-child{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    font-size:1em;
}

#button-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top:2vh;
    width: 100%;
}

button{
    padding: 5px;
    border: 2px solid black;
    outline: none;
    cursor: pointer;
}

button:hover{
    border: 2px solid yellow;
}

.buttonColor{
    background-color: rgb(168, 168, 250);
}

#container{
    margin-top: 5vh;
    border: 2px solid black;
    width: fit-content;
}

#container>div:first-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2em;
    position: relative;
    padding: 5px;
    background-color: rgb(0, 0, 0);
    color: white;
}

.container2{
    display: flex;
    justify-content: center;
    align-items: center;
}

#score-rabbit{
    display: inline-block;
    width: calc(var(--cell-width) * 1.5);
    height: calc(var(--cell-width) * 1.5);
}

#score{
    display: inline-block;
    margin-left: 5px;
}

.touch-rabbit{
    border-radius: 100%;
    cursor: pointer;
    border: 2px solid white;
}

.touch-rabbit2{
    border-radius: 100%;
    cursor: pointer;
    border: 2px solid red;
    animation: blink 2s linear infinite;
}

@keyframes blink{
    0%{
        background-color: black;
    }
    100%{
        background-color: red;
    }
}

#grid{
    display: flex;
    flex-direction: column;
    border-top: 2px solid black;
}

.row{
    font-size: 0px;
}

.column{
    position: relative;
    display: inline-block;
    width:var(--cell-width);
    height:var(--cell-width);
    border: 1px solid black;    
    font-size: var(--cell-fontSize);
    text-align: center;
    vertical-align:top;
    line-height: var(--cell-width);
    color: black;
}

.column.hidden{
    background-color: rgb(120, 238, 109);
}
.column.hidden:hover{
    background-color: rgb(177, 247, 170);
}

.cage{
    background-image: url("./images/rabbitCage.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.lost{
    background-color: rgb(250, 158, 82);
}

.lostAnimation{
    position: relative;
    width:var(--cell-width);
    height:var(--cell-width);
    background-image: url("./images/rabbitWhite.png");
    background-repeat: no-repeat;
    background-size: cover;
    animation: jumpRabbit 1s ease-in infinite alternate;
}

#helper{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: black;
    color: white;
    transform: translate(-50%,-50%);
    padding: 2px;
}

@keyframes jumpRabbit{
    0%{
        top:-5%;
    }
    50%{
        transform: rotateZ(-20deg);
    }
    100%{
        top:-10%;
        transform: rotateZ(20deg);
    }
}

@media screen and (max-width: 767px){
    html{
        font-size: 0.5em;
    }
}
@media screen and (min-width: 768px){
    html{
        font-size: 0.8em;
    }
}
@media screen and (min-width: 992px){
    html{
        font-size: 1em;
    }
}
@media screen and (min-width: 1600px){
    html{
        font-size: 1.3em;
    }
}