*{
    margin:0;
    padding:0;
    border:0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

:root{
    --font: "Mali", sans-serif;
}

body {
    width:100%;
    height:100%;
    overflow: hidden;
    background-color: black;
}

/* Start Page Styling */
#startGame {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(50, 78, 69);
    z-index:2;
}

#startGrid {
    position: relative;
    display: -ms-grid;
    display: grid;
    width: 396px;
    height: 396px;
    -ms-grid-rows:30px 10px 30px 10px 30px 10px 30px 10px 30px 10px 30px 10px 30px 10px 30px 10px 30px 10px 30px 10px 30px 10px 30px;
    -ms-grid-columns:30px 10px 30px 10px 30px 10px 30px 10px 30px 10px 30px 10px 30px 10px 30px 10px 30px 10px 30px 10px 30px 10px 30px;
        grid-template: repeat(12, 30px) / repeat(12, 30px);
    grid-gap: 10px;
    font-family: var(--font);
    font-size: 20px;
    text-align: center;
}

.perspective {
    -webkit-perspective: 1000px;
            perspective: 1000px;
}

.cube {
    width:30px;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d; 
    -webkit-transform: rotateX(-20deg) rotateY(20deg); 
            transform: rotateX(-20deg) rotateY(20deg); 
}

.side {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: rgba(253, 252, 173, 0.5);
    border: 2px solid rgba(253, 252, 173,0.3);
    -webkit-animation-name: cube;
            animation-name: cube;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

.front {
    -webkit-transform: translateZ(15px);
            transform: translateZ(15px);
}
.top {
    -webkit-transform: rotateX(90deg) translateZ(15px);
            transform: rotateX(90deg) translateZ(15px);
}
.left {    
    -webkit-transform: rotateY(-90deg) translateZ(15px);    
            transform: rotateY(-90deg) translateZ(15px);
}
.right {
    -webkit-transform: rotateY(90deg) translateZ(15px);
            transform: rotateY(90deg) translateZ(15px);
}
.back {
    -webkit-transform: translateZ(-15px);
            transform: translateZ(-15px);
}
.bottom {
    -webkit-transform: rotateX(90deg) translateZ(-15px);
            transform: rotateX(90deg) translateZ(-15px);
}
.letter {
    position: absolute;
    width: 30px;
    height: 30px;
    -webkit-transform: translateZ(10px);
            transform: translateZ(10px);
}

@-webkit-keyframes cube {
    50% {
        background-color: rgba(206, 158, 174, 0.2);
    }    
}

@keyframes cube {
    50% {
        background-color: rgba(206, 158, 174, 0.2);
    }    
}

.position1 {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-area: 5 / 2 / span 1  / span 4;
}
.position2 {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    -ms-grid-column: 7;
    -ms-grid-column-span: 4;
    grid-area: 5 / 7 / span 1 / span 4;
}
.cube1 {
    width:150px;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d; 
    -webkit-transform: rotateX(-20deg) rotateY(20deg); 
            transform: rotateX(-20deg) rotateY(20deg);
}

.side1 {
    position: absolute;
    width: 160px;
    height: 30px;
    background-color: rgba(253, 252, 173, 0.5);
    border: 2px solid rgba(253, 252, 173,0.3);
    -webkit-animation-name: cube;
            animation-name: cube;
    -webkit-animation-duration: 5s;
            animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
}

.left1 {    
    width: 30px;
    -webkit-transform: rotateY(-90deg) translateZ(15px);
            transform: rotateY(-90deg) translateZ(15px);
}
.right1 {
    width: 30px;
    -webkit-transform: rotateY(90deg) translateZ(145px);
            transform: rotateY(90deg) translateZ(145px);
}
#input1 {
    margin: auto 15px;
    width: 120px;
    font: var(--font);
    font-size: 20px;
    background-color: rgba(253, 252, 173, 0);
}
#input2 {
    margin: 0 15px;
    width: 120px;
    font: var(--font);
    font-size: 20px;
    background-color:  rgba(253, 252, 173, 0);
}
.position3 {
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-area: 7 / 5 / span 1  / span 4;
}
.position4 {
    -ms-grid-row: 9;
    -ms-grid-row-span: 1;
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-area: 9 / 5 / span 1 / span 4;
}
.letter1 {
    position: absolute;
    width: 150px;
    height: 30px;
    -webkit-transform: translateZ(10px);
            transform: translateZ(10px);
}

/* Game Area Styling */
#gameArea {
    position: relative;
    top: 2vh;
    left:50%;
    -webkit-transform: translateX(-60%);
        -ms-transform: translateX(-60%);
            transform: translateX(-60%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 560px;
    height: 480px;
}

.box {
    width:80px;
    height: 80px;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d; 
    -webkit-transform: rotateX(10deg) rotateY(10deg); 
            transform: rotateX(10deg) rotateY(10deg);
    margin: 10px;
}

.sideGame {
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: rgba(93, 162, 219, 0.2);
    border: 5px solid rgb(211, 114, 114);
}

.frontGame {
    -webkit-transform: translateZ(40px);
            transform: translateZ(40px);
}
.topGame {
    -webkit-transform: rotateX(90deg) translateZ(40px);
            transform: rotateX(90deg) translateZ(40px);
}
.leftGame {    
    -webkit-transform: rotateY(-90deg) translateZ(40px);    
            transform: rotateY(-90deg) translateZ(40px);
}
.rightGame {
    -webkit-transform: rotateY(90deg) translateZ(40px);
            transform: rotateY(90deg) translateZ(40px);
}
.backGame {
    -webkit-transform: translateZ(-40px);
            transform: translateZ(-40px);
}
.bottomGame {
    -webkit-transform: rotateX(90deg) translateZ(-40px) translateY(0px);
            transform: rotateX(90deg) translateZ(-40px) translateY(0px);
}

.Coin {
    position: absolute;
    top:-100vh;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-transform: translate(30%,5%);
        -ms-transform: translate(30%,5%);
            transform: translate(30%,5%);    
}

.active .sideGame {
    border: 5px solid rgb(17, 133, 133);
}

.Player1 .Coin{
    background: -o-radial-gradient(circle,rgb(17, 133, 133), rgb(0, 0, 0)70%);
    background: radial-gradient(circle,rgb(17, 133, 133), rgb(0, 0, 0)70%);
    top:0;
    -webkit-transition: top 0.4s linear;
    -o-transition: top 0.4s linear;
    transition: top 0.4s linear;
}

.Player2 .Coin {
    background: -o-radial-gradient(circle,rgb(255, 71, 71), rgb(0, 0, 0)70%);
    background: radial-gradient(circle,rgb(255, 71, 71), rgb(0, 0, 0)70%);
    top:0;
    -webkit-transition: top 0.4s linear;
    -o-transition: top 0.4s linear;
    transition: top 0.4s linear;
}

#playerStatus {
    position: absolute;
    top: 20%;
    left: calc(50% - 500px); 
    color: rgb(211, 114, 114);
    font-family: var(--font);
    text-align: center;
}

#player1Coin {   
    position: relative; 
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: -o-radial-gradient(circle,rgb(17, 133, 133), rgb(0, 0, 0)70%);
    background: radial-gradient(circle,rgb(17, 133, 133), rgb(0, 0, 0)70%);
    -webkit-animation-name: jump;
            animation-name: jump;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}
#player2Coin {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: -o-radial-gradient(circle,rgb(255, 71, 71), rgb(0, 0, 0)70%);
    background: radial-gradient(circle,rgb(255, 71, 71), rgb(0, 0, 0)70%);
    margin-top: 40px;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

@-webkit-keyframes jump {
    0%{
        top:0;
    }
    33%{
        top:-40px;
    }
    50%{
        top:0;
    }
    75%{
        top:-25px;
    }    
    100%{
        top:0;
    }
}

@keyframes jump {
    0%{
        top:0;
    }
    33%{
        top:-40px;
    }
    50%{
        top:0;
    }
    75%{
        top:-25px;
    }    
    100%{
        top:0;
    }
}

/* Win Message */
.winClass .sideGame {    
    -webkit-animation-name: win;    
            animation-name: win;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-iteration-count: 4;
            animation-iteration-count: 4;
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
}

@-webkit-keyframes win {
    0%{
        background-color: rgba(211, 230, 41, 0.6);
    }
}

@keyframes win {
    0%{
        background-color: rgba(211, 230, 41, 0.6);
    }
}

.winCoin {
    -webkit-animation: coinOut 2s;
            animation: coinOut 2s;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

@-webkit-keyframes coinOut {
    100% {
        top:100vh;
    }
}

@keyframes coinOut {
    100% {
        top:100vh;
    }
}

.bottomGame.open {
    -webkit-animation: bottomOpen 0.5s;
            animation: bottomOpen 0.5s;
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

@-webkit-keyframes bottomOpen {
    100%{
        -webkit-transform: rotateX(10deg) translateZ(-40px) translateY(69px);
                transform: rotateX(10deg) translateZ(-40px) translateY(69px);
    }
}

@keyframes bottomOpen {
    100%{
        -webkit-transform: rotateX(10deg) translateZ(-40px) translateY(69px);
                transform: rotateX(10deg) translateZ(-40px) translateY(69px);
    }
}

#winMessage {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(80, 80, 146,0.9);
    color: white;
    font-size: 50px;
    font-family: var(--font);
}

#button3 {
    background-color: rgb(80, 80, 146);
    border: 3px solid black;
    padding: 20px;
    margin-top: 20px;
    color: white;
    font-size: 50px;
    font-family: var(--font);
}