#aboutMeVinyl{
    position: absolute;
    left: 60%;
    top: -70vh;
    transform: translate(-50%,-50%);
    border-radius: 100%;
    z-index: 2;
}

.showAboutMe{
    animation: showGames 2s linear 1 forwards;
}

@keyframes showAboutMe{
    0%{
        top:-50%;
    }
    100%{
        top: 50%;
    }
}

#aboutMeTitle{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 7vw;
    transform: translate(-50%,-50%);
}

#aboutMeTitle h1{
    font-family: var(--main-font);
    font-size: 1.3vw;
    color: white;
    text-shadow: 2px 2px 1px black, -2px -2px 1px black, 2px -2px 1px black, -2px 2px 1px black;
}

#about-me-frame{
    position: absolute;
    left: 1%;
    top: 100vh;
    transform: translateY(-110%);
    font-family: var(--main-font);
}

.outerAboutFrame {
    width: 30vw;
    height: 60vh;
    background: #ffffff;
    box-shadow:  10px 10px 30px #d9d9d9, 
             -10px -10px 30px #ffffff;
}

.innerAboutFrame{
    width: 25vw;
    height: 55vh;
    background: #ffffff;
    box-shadow:  inset 10px 10px 30px #d9d9d9, 
             inset -10px -10px 30px #ffffff;
    padding: 10px;
    overflow: auto;
}

@media screen and (min-width: 1280px) and (min-height:680px){
    #about-me-frame{
        left: 5vw;
    } 
}


@media screen and (width: 1024px) and (height:768px) {
    #about-me-frame{
        left: 1%;
    }
    .outerAboutFrame {
        width: 30vw;
    }
    
    .innerAboutFrame {
        width: 25vw;
    } 
}

@media screen and (width: 1366px) and (height:1024px) {
    #about-me-frame{
        left: 1%;
    }
    .outerAboutFrame {
        width: 30vw;
    }
    
    .innerAboutFrame {
        width: 25vw;
    }    
}