* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root{
    --portrait-width: 20vh;
    --main-font: 'MuseoModerno', cursive, sans-serif;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 25px;
}

h2{
    font-size: 20px;
}