* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root{
    --portrait-width: 20vh;
    --main-font: 'MuseoModerno', cursive, sans-serif;
    --article-font: 'Roboto', sans-serif;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 767px){
    html{
        font-size: 0.5em;
    }
}
@media screen and (min-width: 768px){
    html{
        font-size: 0.8em;
    }
}
@media screen and (min-width: 992px){
    html{
        font-size: 1em;
    }
}
@media screen and (min-width: 1600px){
    html{
        font-size: 1.3em;
    }
}

@media screen and (max-width: 992px) and (orientation: portrait){
    :root{
        --portrait-width: 30vw;
    }
}
