* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root{
    --portrait-width: 20vh;
    --main-font: 'MuseoModerno', cursive, sans-serif;
    --article-font: 'Roboto', sans-serif;
    --font-size: 1vw;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 25px;
}

h2{
    font-size: 20px;
}


@media screen and (max-width: 760px) and (orientation: portrait){
    :root{
        --portrait-width: 30vw;
        --font-size: 1vh;
    }
}

@media screen and (max-width: 760px){
    h1{
        font-size: 12px;
    }
    
    h2{
        font-size: 8px;
    }

    h6{
        font-size: 5px;
    }
}