.outerArticleButton {
    position: absolute;
    top: 6%;
    left: 6%;
    width: calc(var(--portrait-width) * 0.7);
    height: calc(var(--portrait-width) * 0.7);
    background: #ffffff;
    box-shadow:  10px 10px 30px #d9d9d9, 
             -10px -10px 30px #ffffff;
    border-radius: 100%;
}

.innerArticleButton {
    width: calc(var(--portrait-width) * 0.6);
    height: calc(var(--portrait-width) * 0.6);
    background: #ffffff;
    box-shadow:  inset 10px 10px 30px #d9d9d9, 
                inset -10px -10px 30px #ffffff;
    border-radius: 100%;
}

#showArticles{
    width: calc(var(--portrait-width) * 0.5);
    height: calc(var(--portrait-width) * 0.5);
    background-color: #6ec7f086;
    border: 1.2px solid black;
    border-radius: 100%;
    font-size: 1vw;
    font-family: var(--main-font);
    cursor: pointer;
    outline: none;
}

.outerSearchFrame {
    position: absolute;
    top: 20%;
    left: 15%;
    width: calc(var(--portrait-width) * 1.5);
    height: calc(var(--portrait-width) * 0.3);
    background: #ffffff;
    box-shadow:  10px 10px 30px #d9d9d9, 
             -10px -10px 30px #ffffff;
}

.innerSearchFrame {
    width: calc(var(--portrait-width) * 1.4);
    height: calc(var(--portrait-width) * 0.2);
    background: #ffffff;
    box-shadow:  inset 10px 10px 30px #d9d9d9, 
                inset -10px -10px 30px #ffffff;
}

#search {
    font-size: 0.8vw;
    font-weight: bold;
    font-family: var(--main-font);
    background-color: rgba(255, 255, 255, 0);
    outline: none;
}

#articleFrame{
    position: absolute;
    top: 30%;
    left: 5%;
    font-family: var(--main-font);
}

.outerArticleFrame {
    width: 60vh;
    height: 60vh;
    background: #ffffff;
    box-shadow:  10px 10px 30px #d9d9d9, 
             -10px -10px 30px #ffffff;
}

.innerArticleFrame{
    width: 55vh;
    height: 55vh;
    background: #ffffff;
    box-shadow:  inset 10px 10px 30px #d9d9d9, 
             inset -10px -10px 30px #ffffff;
    padding: 10px;
    overflow: auto;
}

#introduction h1,#introduction h2,#introduction p{
    text-shadow: 1px 0px 1px #eee, 0px 1px 1px #ccc,
    2px 1px 1px #eee, 1px 2px 1px #ccc,
    3px 2px 1px #eee, 2px 3px 1px #ccc,
    4px 3px 1px #eee, 3px 4px 1px #ccc,
    5px 4px 1px #eee, 4px 5px 1px #ccc,
    6px 5px 1px #eee, 5px 6px 1px #ccc,
    6px 6px 1px #eee;
    margin-top:10px;
    text-align: center;
}

.searchArticle{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: 5px;
    list-style: none;
}

.linkArticles{
    text-decoration: none;
    color: black;
}

.searchArticle h1:hover, .lastArticle h2:hover{
    color: rgb(68, 0, 255);
}

.linkArticles h1{
    text-shadow: 1px 0px 1px #eee, 0px 1px 1px #ccc,
    2px 1px 1px #eee, 1px 2px 1px #ccc,
    3px 2px 1px #eee, 2px 3px 1px #ccc,
    4px 3px 1px #eee, 3px 4px 1px #ccc,
    5px 4px 1px #eee, 4px 5px 1px #ccc,
    6px 5px 1px #eee, 5px 6px 1px #ccc,
    6px 6px 1px #eee;
}

.tagButton{
    display: inline-block;
    margin: 2px 5px 0 0;
    background-color: rgb(147, 182, 248);
    border-radius: 10px;
    padding: 0 5px;
    cursor: pointer;
}

.tagButton:hover{
    background-color: rgba(255, 52, 52, 0.603);
}

.lastArticle{
    text-decoration: none;
}

@media screen and (max-width: 760px){
    #articleFrame{
        left: 1%;
    }

    .tagButton{
        font-size: 7px;
        border-radius: 5px;
    }
}

@media screen and (width: 1024px) and (height:768px) {
    #articleFrame{
        left: 1%;
    }
    .outerArticleFrame {
        width: 30vw;
    }
    
    .innerArticleFrame {
        width: 25vw;
    } 
}

@media screen and (width: 1366px) and (height:1024px) {
    #articleFrame{
        left: 1%;
    }
    .outerArticleFrame {
        width: 30vw;
    }
    
    .innerArticleFrame {
        width: 25vw;
    }    
}
