.articlePage{
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index:10;
    font-family: var(--article-font);
    padding: 20px 5px 5px 5px;
    overflow-x: hidden;
    z-index:20;
}

.paragraph{
    width: 700px;
    margin-top: 20px;
}

.sunMode{
    background-color: white;
}

.moonMode{
    background-color: black;
}

.colorSunMode {
    color: black;
}

.colorMoonMode{
    color: white;
}

.code{
    padding: 5px;
    margin: 10px 10px;
    border-radius: 10px;
    display: table;
}

code{
    font-family: var(--article-font);
}

.pre-wrap{
    white-space: pre-wrap;
}

.codeSun {
    background-color: rgb(251, 255, 0);
}

.codeMoon {
    background-color: rgb(0, 97, 187);   
}

@media screen and (max-width: 760px){   

    .paragraph{
        width: 100vw;
        padding: 5px;
        margin-top: 10px;
    }
}
