#contactMeVinyl{
    position: absolute;
    left: 60%;
    top: -70vh;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    z-index: 2;
}

.showContact{
    animation: showContact 2s linear 1 forwards;
}

@keyframes showContact{
    0%{
        top:-50%;
    }
    100%{
        top: 50%;
    }
}

#contactCanvas{
    cursor: pointer;
}

#headlineContact{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}

#headlineContact>p{
    color: white;
    font-size: 1.5vw;
    font-family: var(--main-font);
}

#headlineContact>p:nth-child(2){
    margin-top: 3vh;
}

#contactForm{
    position: absolute;
    left: 1%;
    top: 100vh;
    transform: translateY(-110%);
    font-family: var(--main-font);
}

.outerContactForm {
    width: 30vw;
    height: 60vh;
    background: #ffffff;
    box-shadow:  10px 10px 30px #d9d9d9, 
             -10px -10px 30px #ffffff;
}

.innerContactForm {
    width: 25vw;
    height: 49vh;
    background: #ffffff;
    box-shadow:  inset 10px 10px 30px #d9d9d9, 
             inset -10px -10px 30px #ffffff;
    padding: 10px;
    overflow: auto;
}

#contactForm textarea{
    width: 24vw;
    height: 46vh;
    font-size: 1em;
    font-family: var(--main-font);
    border: 2px solid black;
}

#charactersCount{
    position: absolute;
    bottom: 1vh;
    right: 10px;
    font-family: var(--main-font);
    font-size: 1.8vh;
}

#minCharacters{
    display: inline-block;
    margin-right: 10px;
    border: 1px solid #f06e6e86;
    padding: 0 1px;
    color: #f06e6e86;
}

.fingerpoint{
    position: absolute;
    left: 50%;
    transform: scale(1.5) translateX(-50%);
    animation: finger 1.5s linear infinite forwards;
}

@keyframes finger{
    0%{
        bottom:-25px;
    }
    50%{
        bottom:-5px;
    }
    100%{
        bottom:-25px;
    }
}

.wwwebsite{
    z-index:999;
    position:absolute;
    height:0;
    width:0;
    border:none;
    background:none;
    margin:0;
    top:0;
    left:0;
    clear:both;
    font-size:0px;
    line-height:0px;
}

@media screen and (min-width: 675px){
    #charactersCount{
        font-size: 9px;
    }
}

@media screen and (min-width: 1150px){
    #charactersCount{
        font-size: 11px;
    }
}

@media screen and (min-width: 1300px){
    #charactersCount{
        font-size: 16px;
    }
}

@media screen and (min-width: 1280px) and (min-height:680px){
    #contactForm{
        left: 5vw;
    } 
}


@media screen and (width: 1024px) and (height:768px) {
    #contactForm{
        left: 1%;
    }
    .outerContactFrame {
        width: 30vw;
    }
    
    .innerContactFrame {
        width: 25vw;
    } 
}

@media screen and (width: 1366px) and (height:1024px) {
    #contactForm{
        left: 1%;
    }
    .outerContactFrame {
        width: 30vw;
    }
    
    .innerContactFrame {
        width: 25vw;
    }    
}