#data-button-outer{
    position: fixed;
    bottom: 2%;
    right: 2%;
    width: calc(var(--portrait-width) * 0.8);
    height: calc(var(--portrait-width) * 0.25);
    background: #ffffff;
    -webkit-box-shadow:  10px 10px 30px #d9d9d9, 
             -10px -10px 30px #ffffff;
            box-shadow:  10px 10px 30px #d9d9d9, 
             -10px -10px 30px #ffffff;
    z-index:15;
}

#data-button-inner{
    width: calc(var(--portrait-width) * 0.7);
    height: calc(var(--portrait-width) * 0.15);
    background: #ffffff;
    -webkit-box-shadow:  inset 10px 10px 30px #d9d9d9, 
                inset -10px -10px 30px #ffffff;
            box-shadow:  inset 10px 10px 30px #d9d9d9, 
                inset -10px -10px 30px #ffffff;
}

#data-button{
    width: calc(var(--portrait-width) * 0.65);
    height: calc(var(--portrait-width) * 0.10);
    font-family: var(--main-font);
    color: black;
    background-color: rgb(188, 241, 219);
    font-size: 0.7em;
    padding: 1px;
    text-decoration: none;
}

#data-button:hover{
    background-color: rgb(229, 241, 188);
}

.datenschutz{
    position: absolute;
    top:0;
    left:0;
    padding:5px;
    width: 100%;
    word-wrap: break-word;
    z-index:50;
    background-color: white;
}

.address{
    color: #ff0000;
}

.data-back-main{
    display: block;
    font-size: 3vh;
    text-decoration: none;
    text-align: center;
}