#gamesVinyl{
    position: absolute;
    left: 60%;
    top: -70vh;
    transform: translate(-50%,-50%);
    border-radius: 100%;
    z-index: 2;
}

.showGames{
    animation: showGames 2s linear 1 forwards;
}

@keyframes showGames{
    0%{
        top:-50%;
    }
    100%{
        top: 50%;
    }
}

#nextPlayButton{
    position: absolute;
    top: 92vh;
    left:60%;
    transform: translateX(-50%);
    width: calc(var(--play-button) * 1.7);
    display: flex;
}

#prevButton{
    position: absolute;
    left: 50%;
    transform: translateX(-200%);
}

#nextButton{
    position: absolute;
    left: 50%;
    transform: translateX(100%);  
}

.hidden{
    visibility: hidden;
}

.outerSwitchButton{
    width: calc(var(--play-button) * 0.4);
    height: calc(var(--play-button) * 0.3);
    background: #ffffff;
    box-shadow:  10px 10px 30px #d9d9d9, 
             -10px -10px 30px #ffffff;
}

.innerSwitchButton{
    width: calc(var(--play-button) * 0.3);
    height: calc(var(--play-button) * 0.2);
    background: #ffffff;
    box-shadow:  inset 10px 10px 30px #d9d9d9, 
                inset -10px -10px 30px #ffffff;
}

.innerSwitchButton>img{
    width: calc(var(--play-button) * 0.2);
    cursor: pointer;
}

.outerPlayButton {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: calc(var(--play-button) * 0.7);
    height: calc(var(--play-button) * 0.3);
    background: #ffffff;
    box-shadow:  10px 10px 30px #d9d9d9, 
             -10px -10px 30px #ffffff;
}

.innerPlayButton {
    width: calc(var(--play-button) * 0.6);
    height: calc(var(--play-button) * 0.2);
    background: #ffffff;
    box-shadow:  inset 10px 10px 30px #d9d9d9, 
                inset -10px -10px 30px #ffffff;
}

#playGames{
    width: calc(var(--play-button) * 0.55);
    height: calc(var(--play-button) * 0.15);
    background-color: rgb(245, 186, 168);
    font-size: 0.9vw;
    font-family: var(--main-font);
    cursor: pointer;
    outline: none;
}

#playGames:hover{
    background-color: rgb(240, 228, 62);
}

#iframe{
    position: absolute;
    top:0;
    left:0;
    width:100vw;
    height: 100vh;
    z-index:20;
}

#iframeX{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 2vw;
    font-size: 1.8vw;
    text-align: center;
    background-color: white;
    border-radius: 100%;
    z-index:20;
    cursor: pointer;
}

#gametitle{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 7vw;
    transform: translate(-50%,-50%);
}

#gametitle h1{
    font-family: var(--main-font);
    font-size: 1.3vw;
    color: white;
    text-shadow: 2px 2px 1px black, -2px -2px 1px black, 2px -2px 1px black, -2px 2px 1px black;
}

#gameInfoOuter{
    position: absolute;
    bottom: 5%;
    left: 40%;
    width: calc(var(--portrait-width) * 0.3);
    height: calc(var(--portrait-width) * 0.3); 
    background: #ffffff;
    box-shadow:  3px 3px 6px #d9d9d9, 
             -3px -3px 6px #ffffff; 
    border-radius: 100%;
    cursor: pointer;
}


#gameinfo{
    width: calc(var(--portrait-width) * 0.2);
    height: calc(var(--portrait-width) * 0.2);  
    font-family: var(--main-font);
    font-size: 1vw;
    font-weight: bold;
    border-radius: 100%;
    background: #ffffff;
    box-shadow:  inset 5px 5px 6px #d9d9d9, 
             inset -5px -5px 6px #ffffff;
}

#gameinfo>p{
    width: calc(var(--portrait-width) * 0.15);
    height: calc(var(--portrait-width) * 0.15); 
    border-radius: 100%;
    background-color: rgb(245, 186, 168);
    border: 1px solid black;
}

#gameinfo>p:hover{
    background-color: rgb(240, 228, 62);
}

#info{
    position: absolute;
    top:5vw;
    width: 40vw;
    height: 80vh;
    transition: ease-in 1s left;
    left:-40vw;
    background-color: white;
    background: #ffffff;
    box-shadow:  10px 10px 30px #d9d9d9, 
             -10px -10px 30px #ffffff;
    z-index:4;
}

.infoInner{
    width: 30vw;
    height: 70vh;
    background: #ffffff;
    box-shadow:  inset 10px 10px 30px #d9d9d9, 
                inset -10px -10px 30px #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#info h1, #info p{
    text-shadow: 1px 0px 1px #eee, 0px 1px 1px #ccc,
    2px 1px 1px #eee, 1px 2px 1px #ccc,
    3px 2px 1px #eee, 2px 3px 1px #ccc,
    4px 3px 1px #eee, 3px 4px 1px #ccc,
    5px 4px 1px #eee, 4px 5px 1px #ccc,
    6px 5px 1px #eee, 5px 6px 1px #ccc,
    6px 6px 1px #eee;
    margin: 5px;
}

#info img{
    width: 20vw;
}

#info.showInfo{
    transition: ease-in 1s left;
    left:0;
}