#gamesVinyl{
    position: absolute;
    left: 60%;
    top: -70vh;
    transform: translate(-50%,-50%);
    border-radius: 100%;
    z-index: 2;
}

.showGames{
    animation: showGames 2s linear 1 forwards;
}

@keyframes showGames{
    0%{
        top:-50%;
    }
    100%{
        top: 50%;
    }
}