#introduction{
    position: absolute;
    top: 30%;
    left: 5%;
    font-family: 'MuseoModerno', cursive, sans-serif;
}

#introduction h1,#introduction h2,#introduction p{
    text-shadow: 1px 0px 1px #eee, 0px 1px 1px #ccc,
    2px 1px 1px #eee, 1px 2px 1px #ccc,
    3px 2px 1px #eee, 2px 3px 1px #ccc,
    4px 3px 1px #eee, 3px 4px 1px #ccc,
    5px 4px 1px #eee, 4px 5px 1px #ccc,
    6px 5px 1px #eee, 5px 6px 1px #ccc,
    6px 6px 1px #eee;
    margin-top:10px;
    text-align: center;
}

.outerIntroduction {
    width: 60vh;
    height: 60vh;
    background: #ffffff;
    box-shadow:  10px 10px 30px #d9d9d9, 
             -10px -10px 30px #ffffff;
}

.innerIntroduction{
    width: 55vh;
    height: 55vh;
    background: #ffffff;
    box-shadow:  inset 10px 10px 30px #d9d9d9, 
             inset -10px -10px 30px #ffffff;
    padding: 10px;
    overflow: auto;
}