#main {
    width: 100vw;
    height: 100vh;
    font-family: var(--main-font);
}

#welcome {
    position: absolute;
    top: 5%;
    right: 10%;
    font-size:2vw;
    text-shadow: 1px 0px 1px #eee, 0px 1px 1px #ccc,
    2px 1px 1px #eee, 1px 2px 1px #ccc,
    3px 2px 1px #eee, 2px 3px 1px #ccc,
    4px 3px 1px #eee, 3px 4px 1px #ccc,
    5px 4px 1px #eee, 4px 5px 1px #ccc,
    6px 5px 1px #eee, 5px 6px 1px #ccc,
    6px 6px 1px #eee;
}

#vinyl {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0);
    border-radius: 100%;
}

#vinylform {
    position: absolute;
    top: 50%;
    left: 60%;
    width: 78vh;
    height: 78vh;
    transform: translate(-50%, -50%);
    background: #ffffff;
    box-shadow:  20px 20px 60px #d9d9d9, 
             -20px -20px 60px #ffffff;
    border-radius: 100%;
}

#vinylInnerForm {
    position: absolute;
    top: 50%;
    left: 60%;
    width: 73vh;
    height: 73vh;
    transform: translate(-50%, -50%);
    background: #ffffff;
    box-shadow:  inset 20px 20px 60px #d9d9d9, 
                inset -20px -20px 60px #ffffff;
    border-radius: 100%;
}

#portrait {
    position: absolute;
    top: 15%;
    left: 85%;
}

.outerForm {
    width: var(--portrait-width);
    height: var(--portrait-width);
    background: #ffffff;
    box-shadow:  10px 10px 30px #d9d9d9, 
             -10px -10px 30px #ffffff;
    border-radius: 100%;
}

.innerForm {
    width: calc(var(--portrait-width) * 0.9);
    height: calc(var(--portrait-width) * 0.9);
    background: #ffffff;
    box-shadow:  inset 10px 10px 30px #d9d9d9, 
                inset -10px -10px 30px #ffffff;
    border-radius: 100%;
}


#myPicture {
    width: calc(var(--portrait-width) * 0.85);
    height: calc(var(--portrait-width) * 0.85);
    background-image: url("./pictures/mypicture.png");
    background-size: cover;
    border-radius: 100%;
}

.outerFormButton {
    width: var(--portrait-width);
    height: calc(var(--portrait-width) * 0.3);
    background: #ffffff;
    box-shadow:  10px 10px 30px #d9d9d9, 
             -10px -10px 30px #ffffff;
}

.innerFormButton {
    width: calc(var(--portrait-width) * 0.9);
    height: calc(var(--portrait-width) * 0.2);
    background: #ffffff;
    box-shadow:  inset 10px 10px 30px #d9d9d9, 
                inset -10px -10px 30px #ffffff;
}

.aboutButton{
    width: calc(var(--portrait-width) * 0.85 / 2);
    height: calc(var(--portrait-width) * 0.15);
    font-size: 0.8vw;
    text-decoration: none;
    color: black;
    outline: none;
}

.aboutOn{
    background-color: rgba(211, 248, 48, 0.603);
}

.aboutOff{
    background-color: rgba(230, 149, 124, 0.603);
}

.contactOn{
    background-color: rgba(255, 52, 52, 0.603);
}

.contactOff{
    background-color: rgba(230, 149, 124, 0.603);    
}

#portrait>p{
    font-size: 1.4vw;
    margin: 10px 0 0 0;
}

.github-link-main{
    position: absolute;
    right: 10%;
    top: 85%;
}

#githubLink{
    width: calc(var(--portrait-width) * 0.4);
    height: calc(var(--portrait-width) * 0.4);  
}

.githubLinkOuter{
    background: #ffffff;
    box-shadow:  3px 3px 6px #d9d9d9, 
             -3px -3px 6px #ffffff;
    border-radius: 100%;
}

.githubLinkOuterClick{
    background: #ffffff;
    box-shadow:  inset 5px 5px 6px #d9d9d9, 
             inset -5px -5px 6px #ffffff;
    border-radius: 100%;
}

#githubLinkInner{
    width: calc(var(--portrait-width) * 0.33);
    height: calc(var(--portrait-width) * 0.33);
    background: #ffffff;
    box-shadow:  inset 3px 3px 6px #d9d9d9, 
             inset -3px -3px 6px #ffffff;
    border-radius: 100%;
}

#github {
    width: calc(var(--portrait-width) * 0.25);
    height: calc(var(--portrait-width) * 0.25);
    background-image: url("./pictures/github.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
}

#tonearm{
    position: absolute;
    top: 70%;
    left: 55%;
    width: 40vw;
    height: calc(var(--portrait-width) * 0.6);
    z-index:6;
}

#holder {
    position: relative;
    right: calc(-40vw + var(--portrait-width) * 0.6);
    width: calc(var(--portrait-width) * 0.6);
    height: calc(var(--portrait-width) * 0.6);
    background: #ffffff;
    box-shadow:  10px 10px 30px #d9d9d9, 
             -10px -10px 30px #ffffff;
    border-radius: 100%;
    z-index:6;
}

#arm{
    position: absolute;
    top: calc(var(--portrait-width) * 0.6 * 0.5);
    transform: translateY(-50%) rotateZ(0deg);
    width: 40vw;
    height: calc(var(--portrait-width) * 0.2);
    border-radius: 10px;
    background-image: linear-gradient(to bottom, grey 20%, black 70%);
    z-index:6;
}

.moveArm{
    animation: moveArm 4s linear 1 forwards;
    z-index:6;
}

.moveArm2{
    animation: moveArm2 4s linear 1 forwards;
    z-index:6;
}

@keyframes moveArm {
    40%{
        transform-origin: top right;
        transform:  rotate(-10deg);
        z-index:6;
    }
    60%{
        transform-origin: top right;
        transform:  rotate(-10deg);
        z-index:6;
    }
    100%{
        transform-origin: top right;
        transform:  rotate(0deg);
        z-index:6;
    }
}

@keyframes moveArm2 {
    40%{
        transform-origin: top right;
        transform:  rotate(-10deg);
        z-index:6;
    }
    60%{
        transform-origin: top right;
        transform:  rotate(-10deg);
        z-index:6;
    }
    100%{
        transform-origin: top right;
        transform:  rotate(0deg);
        z-index:6;
    }
}

#picker{
    position: absolute;
    top: -77vh;
    left: 60%;
    width: 5vw;
    height: 70vh;
    background-image: radial-gradient(rgb(90, 86, 86) 10%, black 90%);
    border-radius: 10px;
    transform: translate(-50%, -50%);
    z-index:6;    
}

.picker{
    animation: picker 3s linear 1 forwards;
}

@keyframes picker{
    0%{
        top: -77vh;
    }
    66%{
        top:17%;
    }
    100%{
        top:-77vh;
    }
}

.picker2{
    animation: picker2 3s linear 1 forwards;
}

@keyframes picker2{
    0%{
        top: -77vh;
    }
    66%{
        top:17%;
    }
    100%{
        top:-77vh;
    }
}

.outerGamesButton {
    position: absolute;
    top: 5%;
    left: 35%;
    width: var(--portrait-width);
    height: var(--portrait-width);
    background: #ffffff;
    box-shadow:  10px 10px 30px #d9d9d9, 
             -10px -10px 30px #ffffff;
    border-radius: 100%;
}

.innerGamesButton {
    width: calc(var(--portrait-width) * 0.9);
    height: calc(var(--portrait-width) * 0.9);
    background: #ffffff;
    box-shadow:  inset 10px 10px 30px #d9d9d9, 
                inset -10px -10px 30px #ffffff;
    border-radius: 100%;
}

#startGames{
    width: calc(var(--portrait-width) * 0.8);
    height: calc(var(--portrait-width) * 0.8);
    background-color: #f06e6e86;
    border: 2px solid black;
    border-radius: 100%;
    font-size: 1.5vw;
    font-family: var(--main-font);
    cursor: pointer;
    outline: none;
    text-decoration: none;
    color: black;
}

.aLetter{
    position: relative;
    animation: jump 2s linear infinite;
    color: rgb(95, 111, 255);
}

@keyframes jump{
    0%{
        top:0;
    }
    30%{
        top:-2vh;
        transform: rotate(360deg);
    }
    60%{
        top:0; 
        transform: rotate(0deg);       
 
    }
    80%{
        top:-1vh;
    }
    100%{
        top:0;
    }
}

@media screen and (max-width:760px){
    .outerGamesButton{
        left: 30%;
    }
    #portrait>p{
        margin:5px 0 0 0 ;
    }
}

@media screen and (width: 1024px) and (height:768px) {
    #welcome{
        top: 10px;
        left: 10%;
    }

    .outerGamesButton{
        left: 20%;
    }

    #portrait{
        top:0;
    }

    #self-portrait{
        position: absolute;
        top: 110%;
        left: 30%;
    }
}

@media screen and (width: 1366px) and (height:1024px) {
    #welcome{
        top: 10px;
        left: 10%;
    }

    .outerGamesButton{
        left: 20%;
    }

    #portrait{
        top:0;
    }

    #self-portrait{
        position: absolute;
        top: 110%;
        left: 30%;
    }
}