#main {
    width: 100vw;
    height: 100vh;
}

#vinyl {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    background-color: black;
    border-radius: 100%;
}
